* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #565C68 50%, #474C55 50%);
}

h1
{
  margin: 0;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  height: 2rem;
  background-color: #F5F5F5;
  padding: 0.3rem;
}

input::placeholder {
  font-size: 11px;
  color: #a4a4a4;
  letter-spacing: 0.1rem;
}

#wrap {
  display: flex;
  max-width: 800px;
  width: 100%;
  height: 100vh;
  max-height: 500px;
}

@media (max-width: 767px) {
  #wrap {
    flex-direction: column;
    align-self: flex-start;
    max-height: initial;
    min-height: 100vh;
  }
}

#header {
  flex: 0 0 270px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background: #d9d9d9 url('./suzy.jpeg') no-repeat center / cover;
}

@media (max-width: 767px) {
  #header {
    flex-basis: 150px;
  }
}

#header .title-header {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

#main {
  display: flex;
  flex: 1 1 auto;
  background-color: #F5F5F5;
}

#main #signup_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5rem;
  flex: 1 1 auto;
}

@media (max-width: 767px) {
  #main #signup_sec {
    justify-content: flex-start;
    margin-top: 3rem;
  }
}

#main #signup_sec .fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  margin: 0 2rem;

  flex: 0 1 auto;
}

#main #signup_sec .fieldset .fieldset-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25rem;
  padding-left: 0.3rem;
}

.message {
  font-size: 11px;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 0.3rem;
} 

#main #signup_sec .fieldset .email-failed,
#main #signup_sec .fieldset .password-remessage,
#main #signup_sec .fieldset .name-message, 
#main #signup_sec .fieldset .date-message {
  color: #c76767;
}

#main #signup_sec .fieldset .password-message {
  color: #8b8b8b;
}

#main #signup_sec .sign {
  display: flex;
  justify-content: center;
  border: none;

  flex: 0 1 auto;
}

button {
  appearance: none;
  background-color: transparent;
  /* border: 0.125em solid lightcoral; */
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 2rem;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.hide {
  display: none;
}

