* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 360px;
  height: 520px;
  border-radius: 10px;

  background-color: #353335;
  box-shadow: 10px 5px 5px #d0cece;
}

#result {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #eabcb8;
  height: 120px;
  width: 90%;
  padding: 0 20px 10px 0;
  border-radius: 10px 10px 0 0;
}

#result_text {
  background-color: #eabcb8;
  border: 0;
  width: 90%;
  font-size: 50px;
  text-align: right;
  font-weight: 500;
  text-shadow: 2px 5px 5px #856e6e;
}

#calcBtn_sec {
  background-color: #fff;
  height: 320px;
  width: 90%;
  border-radius: 0 0 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

#calcBtn_sec .calcBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  height: 13%;
}

#calcBtn_sec .calcBtn .clear, .number, .operator, .calculate{
  width: 62px;
  height: 100%;
  border-radius: 8px;
  border: none;

  font-size: 22px;
  font-weight: bold;
  box-shadow: 2px 5px 5px #d0cece;
}


#calcBtn_sec .calcBtn .operator {
  background-color: #9d5645;
  color: #fff;
}

#calcBtn_sec .calcBtn .clear {
  background-color: #757171;
  color: #fff;
}

#calcBtn_sec .calcBtn .number{
  background-color: #d0cece;
}

#calcBtn_sec .calcBtn .calculate{
  background-color: #9d5645;
  color: #fff;
}

#calcBtn_sec > .calcBtn > .operator:hover,
#calcBtn_sec > .calcBtn > .number:hover,
#calcBtn_sec > .calcBtn > .calculate:hover,
#calcBtn_sec > .calcBtn > .clear:hover
{
  cursor: pointer;
  background-color : #212121;
  color: #fff;

}

#calcBtn_sec .calcBtn .double {
  width: 132px;
}
